body{
    font-family: 'ZCOOL KuaiLe', cursive;
}

header{
    color: tomato;
    background-color: yellowgreen;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    padding: 25px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

ul{
    text-decoration: none;    
}

li#botoes{
    display: inline-block;    
    background-color: rgb(11, 173, 157);
    margin: 5px;
    width: 130px;
    height: 30px;
    text-align: center;
    border-top: 3px groove tomato;
    border-radius: 15px 5px;
    line-height: 20px;
}

main{
    position: relative;
    padding: 105px;
    text-align: justify;
}

h1{
    background-color: teal;
    border-radius: 15px;
    text-align: center;
    color: white;
}

a{
    color: white;
}

img{
    width: 100%;
    border-radius: 15px;
}

.titulo{
    color: tomato;
    background-color: honeydew;
    border-radius: 10px;
    padding: 5px 25px;
}

p{
    line-height: 16.8px;
}

#regras{
    border-top: 2px groove tomato;
    border-bottom: 2px groove tomato;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
}

#estrategias{
    border-top: 2px groove tomato;
    border-bottom: 2px groove tomato;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
}

#origens{
    border-top: 2px groove tomato;
    border-bottom: 2px groove tomato;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
}

#psicologia{
    border-top: 2px groove tomato;
    border-bottom: 2px groove tomato;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
}

#recepcao{
    border-top: 2px groove tomato;
    border-bottom: 2px groove tomato;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
}

#referencias{
    border-top: 2px groove tomato;
    border-bottom: 2px groove tomato;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
}

img.whats{
    position: fixed;
    width: 100px;
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 10px;
}

footer{
    background-color:rgb(192, 192, 192);
    padding: 25px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    position:static;
    bottom: 0px;
}

img.linkedin{
    position: sticky;
    z-index: 1;
    bottom: 0px;
    width: 3%;
    margin: 10px;
}

img.github{
    position: sticky;
    z-index: 1;
    bottom: 0px;
    width: 3%;
    margin: 10px;
}